<%- include('./partials/header') %>
  <%- include('./partials/nav') %>
  <div id="success-alert" style="display: none;" class="alert alert-success alert-dismissible fade show" role="alert">
    Success! Item deleted.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  <div class="container">
    <h2>Welcome @Name</h2>
  </div>
  <div class="container">
    <h2>Admin</h2>
    <div>
      <h3>Uploads</h3>
    </div>
    <div class="row row-cols-3 row-cols-md-3 g-3">
      <% if (videos.length > 0) { %>
        <% videos.forEach(video => { %>
          <div >
            <div class="card" style="width: 20rem;">
              <img src="https://p10grp.com/wp-content/uploads/2020/03/video.png" height="250" class="card-img-top" alt="thumbnail">
              <hr class="w-4">
              <div class="card-body">
                <h5 class="card-title"><%= video.title %></h5>
                <h6>Upload By: <%= video.adminID %></h6>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="/video/player" class="btn btn-primary">Watch</a>
                <a id="trashcan" class="btn btn-primary" data-id= '<%= video.videoKey %>' >Delete</a>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
       <p>Sorry No Uploads yet :(  </p>
      <% } %>
    </div>

      
  </div>
      <script>
          const trashcan = document.getElementById('trashcan');
          const successAlert = document.getElementById('success-alert');

          trashcan.addEventListener('click', async (e) => {
            e.preventDefault();
            console.log(trashcan.dataset.id)
            
            const endpoint = `/video/${trashcan.dataset.id}`;

            const res = await fetch(endpoint, {
              method: 'DELETE'
            });
            
          const data = await res.json();
          if (data.success) {
            successAlert.style.display = 'block';
          }
          })
      </script>
  
  
<%- include('./partials/footer') %>
