<%- include('./partials/header') %>
  <%- include('./partials/nav') %>
  <div class="container">
    <div>
      <h3>Now Playing: <%= video.title %></h3>
    </div>
    <div>
      <video id="video-player" width="700" height="400" controls autoplay  src="/stream/<%= video.videoKey %>"></video>
    </div>
    <br>
    <div class="card w-50" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title video-title"><%= video.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
        <p id="video-description" class="card-text"><%= video.description %></p>
        <div>
          <button id="shareButton" class="btn ">Share</button>
          <div id="linkContainer" class="hidden">
            <p>link: <span id="linkText">https://video-platform-du1s.onrender.com/video?videoKey=<%= video.videoKey %></span></p>
          </div>
          <!-- <button id="copyButton" class="btn">Copy Link</button> -->
        </div>
      </div>
    </div>
    <button id="prev-btn" class="nav_button">Previous</button>
    <button id="next-btn" class="nav_button">Next</button>
  </div>

  <script>
    const videoKey = '<%= video.videoKey %>'; 

    const videos = JSON.parse('<%- JSON.stringify(videos) %>');
    console.log(videos)
    console.log('Keyy', videoKey)
    let currentVideoIndex = videos.findIndex(video => video.videoKey == videoKey);
    console.log('Index:', currentVideoIndex)

    function navigateVideo(direction) {
      currentVideoIndex += direction;
      if (currentVideoIndex < 0) {
        currentVideoIndex = 0;
      } else if (currentVideoIndex >= videos.length) {
        currentVideoIndex = videos.length - 1;
      }
      const video = videos[currentVideoIndex];
      const nextUrl = `/video?videoKey=${video.videoKey}`;
      window.location.href = nextUrl;
    }

    document.getElementById('shareButton').addEventListener('click', function() {
      var linkContainer = document.getElementById('linkContainer');
      linkContainer.classList.remove('hidden');
      var linkText = document.getElementById('linkText').innerText;

      // navigator.clipboard.writeText(linkText).then(function() {
      //     console.log('Link copied to clipboard');
      // }, function(err) {
      //     console.error('Could not copy text: ', err);
      // });

      // Stop propagation to prevent the document click handler from hiding the container immediately
      event.stopPropagation();
    });

    document.addEventListener('click', function(event) {
      var linkContainer = document.getElementById('linkContainer');
      var copyButton = document.getElementById('shareButton');
      
      // Check if the click was outside the linkContainer and the copyButton
      if (!linkContainer.contains(event.target) && !copyButton.contains(event.target)) {
          linkContainer.classList.add('hidden');
      }
    });

    // Add event listeners for the buttons
    document.getElementById('prev-btn').addEventListener('click', () => navigateVideo(-1));
    document.getElementById('next-btn').addEventListener('click', () => navigateVideo(1));


    // Disable buttons if at the boundaries
    document.getElementById('prev-btn').hidden = currentVideoIndex === 0;
    document.getElementById('next-btn').hidden = currentVideoIndex === videos.length - 1;

  </script>
<%- include('./partials/footer') %>